<!DOCTYPE html>
<html>
<body>

<form action="/admin/products/edit" method = "POST">
  <input type="hidden" name="id" value = "<%=products._id%>" >
  Product Name:<br>
  <input type="text" name="name" value = "<%=products.productName%>" placeholder="Enter Product Name">
  <br>
  Catagory:<br>
  <input type="text" name="catagory" value = "<%=products.productCatagory%>" placeholder="Enter Product Catagory">
  <br>
  Product Description:<br>
  <input type="text" name="description" value = "<%=products.productDesciption%>" placeholder="Enter Product Description">
  <br>
  Image Url:<br>
  <input type="text" name="imagelink" value = "<%=products.productImage%>" placeholder="Insert Image Url">
  <br>
  In Stock:<br>
  <input type="text" name="stock" value = "<%=products.inStock%>" placeholder="Enter the number of product in stock">
  <br>
  Price:<br>
  <input type="text" name="price" value = "<%=products.productPrice%>" placeholder="Price of the product">
  <br>

  <input type="submit" value="Submit">
</form>

</body>
</html>
